*fits
image_reconstruction/image_reco
image_reconstruction/image_reco_OLD
mira_docker_data/
data
*.pyc
*.pyo
*.pyd
.venv
tests/
delme*
pipeline_tests/

*.csv
*.json
*.png
*.jpeg
*.jpg
*.tiff
*.tif
*.mp4
