astropy==6.1.4
astropy-iers-data==0.2024.10.21.0.33.21
astroquery==0.4.7
asttokens==2.4.1
beautifulsoup4==4.12.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
contourpy==1.3.0
corner==2.2.3
cryptography==43.0.3
cycler==0.12.1
decorator==5.1.1
emcee==3.1.6
executing==2.1.0
fonttools==4.54.1
fpdf==1.7.2
html5lib==1.1
idna==3.10
ipython==8.28.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
jeepney==0.8.0
keyring==25.4.1
kiwisolver==1.4.7
matplotlib==3.9.2
matplotlib-inline==0.1.7
more-itertools==10.5.0
numpy==2.1.2
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
pmoired==1.2.10
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
pyerfa==2.0.1.4
Pygments==2.18.0
pyoifits==0.4.10
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyvo==1.5.3
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.1
SecretStorage==3.3.3
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
traitlets==5.14.3
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
webencodings==0.5.1
